@import '../../assets/scss/utils/vars.scss';
@import '../../assets/scss/utils/fonts.scss';

.wrapper {
    background-color: $pageBgColor;
}

.header {
    height: 10vh;

    background-color: $panelBgColor;
    box-shadow: 0px 0px 10px 15px rgba(85, 0, 88, 1);

    .header__heading {
        text-align: center;
        line-height: 10vh;
        color: $canvasText;
    }
}

.main {
    height: 80%;
}

.footer {
    height: 10vh;

    background-color: $panelBgColor;
    box-shadow: 0px 0px 10px 15px rgba(85, 0, 88, 1);

    .legend {
        display: flex;
        justify-content: space-around;
        color: $canvasText;
        line-height: 10vh;
    }
}

.canvas {
    background-color: $canvasBgColor;
}


.service-data {
    display: none;

    #pageBgColor::after {
        content: '#{$pageBgColor}';
    }

    #panelBgColor::after {
        content: '#{$panelBgColor}';
    }

    #canvasBgColor::after {
        content: '#{$canvasBgColor}';
    }

    #canvasFigureBg::after {
        content: '#{$canvasFigureBg}';
    }

    #canvasText::after {
        content: '#{$canvasText}';
    }

    #canvasBrick::after {
        content: '#{$canvasBrick}';
    }
}