// для подключения переменных и расширений
// For example:
// @import './utils/vars.scss';

// ↓↓ Variables ==================================================================
// For example:
// $mainColor   : #ff0000;
// To use: color: $mainColor;

// Colors ========================================================================
$pageBgColor: #600c65;
$panelBgColor: #550058;
$canvasBgColor: #46014a;
$canvasFigureBg: #d8ad4d;
$canvasText: #9b7012;
$canvasBrick: #3e5691;
// $mainColor: #BC9CFF;
// $mainGradientColor: #8BA4F9;
// $secondColor: #6FCF97;
// $secondGradientColor: #66D2EA;
// $dark100: #1F2041;
// $dark75: rgba(31, 32, 65, 0.75);
// $dark50: rgba(31, 32, 65, 0.50);
// $dark25: rgba(31, 32, 65, 0.25);
// $dark10: rgba(31, 32, 65, 0.1);
// $dark05: rgba(31, 32, 65, 0.05);

// ↑↑ Variables ==================================================================